<div class="app-root">
  <ng-container *ngIf="calcForm; then showForm"></ng-container>
  
</div>

<ng-template #showForm>
  <mat-card>
    <form [formGroup]="calcForm"
          (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
            matInput
            placeholder="Monthly income"
            type="number"
            formControlName="monthlyIncome" >
        <mat-error *ngIf="calcForm.get('monthlyIncome').hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="calcForm.get('monthlyIncome').hasError('min')">
          Monthly income should be more than {{ mockData['min-monthly-income'] }}
        </mat-error>
        <mat-error *ngIf="calcForm.get('monthlyIncome').hasError('pattern')">
          Should start with 1-9 number and contain only numbers
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input
            matInput
            placeholder="Requested amount"
            type="number"
            formControlName="requestedAmount" >
        <mat-error *ngIf="calcForm.get('requestedAmount').hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="calcForm.get('requestedAmount').hasError('min')">
          Requested amount should be more than {{ mockData['min-request-amount'] }}
        </mat-error>
        <mat-error *ngIf="calcForm.get('requestedAmount').hasError('pattern')">
          Should start with 1-9 number and contain only numbers
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input
            matInput
            placeholder="Loan term"
            type="number"
            formControlName="loanTerm" >
        <mat-error *ngIf="calcForm.get('loanTerm').hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="calcForm.get('loanTerm').hasError('min') || calcForm.get('loanTerm').hasError('max')">
          Load term should be between {{ mockData['min-load-term'] }} and {{ mockData['max-load-term'] }}
        </mat-error>
        <mat-error *ngIf="calcForm.get('loanTerm').hasError('pattern')">
          Should start with 1-9 number and contain only numbers
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Children:</mat-label>
        <mat-select
          formControlName="children">
          <mat-option
            *ngFor="let child of childrenOptions"
            [value]="child.value">
            {{ child.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="calcForm.get('children').hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Coapplicant:</mat-label>
        <mat-select
          formControlName="coapplicant">
          <mat-option
            *ngFor="let coapp of coapplicantOptions"
            [value]="coapp.value">
            {{ coapp.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="calcForm.get('coapplicant').hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit">
        Confirm
      </button>
    </form>
  </mat-card>
</ng-template>